body {
    background-color: #232C58;
    color: white;
}

button {
    border: none;
    border-radius: 2px;
    color: white;
    background-color: rgb(72, 72, 168);
    transition: 0.3s ease;
}

button:hover {
    background-color: #1a203f;
    transform: scale(1.05);
}