body {
    background-color: #232C58;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;   /* centraliza horizontalmente */
    vertical-align: middle; /* centraliza verticalmente */
    padding: 12px;
}